
        
        <main>
            <section id="edit-page">
                <div class="edit-container">
                    <div class="box-image">

                    </div>
                    <h2 class="box-heading">
                        Edit Home
                    </h2>

                    <form class="form" method="POST">
                        <div class="input">
                            <input type="text" class="input-field" id="home-name" name="name" value="" />
                            <label class="home-name">Name: {{name}}</label>
                        </div>
                        <div class="input">
                            <input type="text" class="input-field" id="type" name="type" value="" />
                            <label class="type">Property Type: {{type}}</label>
                        </div>
                        <div class="input">
                            <input type="number" class="input-field" id="year" name="year" value="" />
                            <label class="year">Year Built: {{year}}</label>
                        </div>
                        <div class="input">
                            <input type="text" class="input-field" id="city" name="city" value="" />
                            <label class="city">City: {{city}}</label>
                        </div>

                        <div class="input">
                            <input type="text" class="input-field" id="homeImage" name="homeImage" value="" />
                            <label class="homeImage">Home Image: {{homeImage}}</label>
                        </div>

                        <div class="input">
                            <input type="text" class="input-field" id="description" name="description" value="" />
                            <label class="description">Property Description: {{description}}</label>
                        </div>

                        <div class="input">
                            <input type="number" class="input-field" id="availablePieces" name="availablePieces" value="" />
                            <label class="availablePieces">Available pieces: {{availablePieces}}</label>
                        </div>

                        <div class="create-action">
                            <button class="create-button">Edit</button>
                        </div>
                    </form>
                </div>
            </section>
